<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="description" content="成都媒超风信息技术有限公司，简称媒超风新媒。于2015年5月成立，公司创业团队汇聚了原传媒集团、4A公司、阿里巴巴、华为、百度、等公司的一群业界精英人才，通过利用大数据、lbs技术、3ppush技术为广告主们提供自媒体传播的全套解决方案!" />
	<meta name="Keywords" content="媒超风,派手,自媒体,推广,广告,广告赚钱" />
	<title>500错误：服务器内部错误</title>
	<link rel="Shortcut Icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/layout.css?v='+${application.version}}" />
</head>
<body>
<div id="wrap">
	<!-- header begin -->
	<div id="header" th:include="common/header(selected=index)"></div>
	<!-- header end -->
		
	<!-- error begin -->
	<div id="error">
	   <div class="error-img error-inside"><img alt="500" src="images/500.png" /></div>
	   <div class="error-describe inside-describe">
	       <div class="tip-msg"><p>抱歉！服务器内部错误……</p></div>
	       <div class="reason">
               <p>可能因为：</p>
               <ul class="reason-list">
                   <li>请求超时<span><i class="gt">&gt;</i>Web服务器太忙</span></li>
                   <li>官网维护中<span><i class="gt">&gt;</i>Web服务器上的应用程序正在重新启动</span></li>
                   <li><a href="index.html">返回主页</a></li>
               </ul>
           </div>
	   </div>
	</div>
	<!-- error end -->
		
	<!-- footer begin -->
	<div th:include="common/footer"></div>
	<!-- footer end -->
    <script type="text/javascript" src="js/require.js" data-main="js/main.js"></script>
</div>
</body>
</html>