<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="description" content="成都媒超风信息技术有限公司，简称媒超风新媒。于2015年5月成立，公司创业团队汇聚了原传媒集团、4A公司、阿里巴巴、华为、百度、等公司的一群业界精英人才，通过利用大数据、lbs技术、3ppush技术为广告主们提供自媒体传播的全套解决方案!" />
	<meta name="Keywords" content="媒超风,派手,自媒体,推广,广告,广告赚钱" />
	<title>派手，为小而美发声-联系我们(51bppd.COM)</title>
	<link rel="Shortcut Icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/layout.css?v='+${application.version}}" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/ui-dialog.custom.css?v='+${application.version}}"/>
</head>
<body>
<div id="wrap">
	<!-- header begin -->
	<div id="header" th:include="common/header(selected=about)"></div>
	<!-- header end -->
		
	<!-- main begin -->
	<div id="main">
	    <div class="about-wrap">
		    <div class="describe-title">联系我们</div>
			<div class="about-describe">
				<div class="title">想要了解更多的情况，请联系我们</div>
				<ul>
					<li>周一到周日，全年无休</li>
					<li>9:00～18:00</li>
					<li>等候您的信息</li>
				</ul>
				<p>商务合作：黄旭&nbsp;<a href="tel:13625279418">13625279418</a>&nbsp;&nbsp;<a href="tel:15882143433">15882143433</a></p>
				<p>客服电话：<a href="tel:15882143433">15882143433</a></p>
				<p>简历投递：<a href="mailto:huangxu@51bppd.com">huangxu@51bppd.com</a></p>
				<p>粉丝交流群：583610508</p>
			</div>
		    <div class="about-form">
			    <div class="input-item">
				    <input type="text" name="name" class="inp" id="name" placeholder="姓名" value=""  />
				    <input type="text" name="email" class="inp inp-ml" id="email" placeholder="电子邮箱或者联系方式" value=""  />
			    </div>
			    <div class="input-item">
				    <textarea rows="4" cols="50" class="textarea" id="content" name="content" placeholder="信息内容"></textarea>
			    </div>
			    <div class="input-item">
				    <input type="button" class="inp-btn" id="sendBtn" name="send" value="发送信息"/>
			    </div>
			</div>
		</div>
		<div class="contact-address">
			<h2>联系地址</h2>
			<div class="address">
	            <h4>成都媒超风信息技术有限公司</h4>
	            <p>地址：成都市金牛区金牛万达SOHO-B座10楼1003</p>
	            <p>邮编：610036</p>
	            <p>电话：<a href="tel:15882143433">15882143433</a></p>
            </div>
		</div>
		<!-- about-map begin -->
		<div class="about-map">
			<div class="address-card">
	            <h2>成都媒超风信息技术有限公司</h2>
	            <p>地址: 成都市金牛区金牛万达SOHO-B座10楼1003</p>
	            <p>邮编: 610036</p>
	            <p>客服电话: 15882143433</p>
	        </div>
		</div>
		<!-- about-map end -->
	</div>
	<!-- main end -->
		
	<!-- footer begin -->
	<div th:include="common/footer"></div>
	<!-- footer end -->
    <script type="text/javascript" src="js/require.js" data-main="js/about/main.js"></script>
</div>
</body>
</html>