<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="description" content="成都媒超风信息技术有限公司，简称媒超风新媒。于2015年5月成立，公司创业团队汇聚了原传媒集团、4A公司、阿里巴巴、华为、百度、等公司的一群业界精英人才，通过利用大数据、lbs技术、3ppush技术为广告主们提供自媒体传播的全套解决方案!" />
	<meta name="Keywords" content="媒超风,派手,自媒体,推广,广告,广告赚钱" />
	<title>派手，为小而美发声-商户端 (51bppd.COM)</title>
	<link rel="Shortcut Icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/layout.css?v='+${application.version}}" />
</head>
<body>
<div id="wrap">
	<!-- header begin -->
	<div id="header" th:include="common/header(selected=enterprise)"></div>
	<!-- header end -->
		
	<!-- main begin -->
	<div id="main">
		<div class="wrapbg">
		    <div class="app-download">
				<div class="app-code">
					<dl><dt><img src="images/encode.jpg" /></dt><dd>派手商户端APP下载</dd></dl>
					<div class="app-btn">
					   <a href="javascript:;" class="icon-iPhone">iPhone下载</a>
					   <a href="javascript:;" class="icon-Android">Android下载</a>
					</div>
				</div>
				<div class="app-title">人人都是发布者 企业自推广平台</div>
		    </div>
		</div>
		
		<!-- barRow begin -->
		<div id="barRow">
			<div class="wrapper">
				<div class="row-title">
					<h3>不同凡响，处处为你着想</h3>
					<h5>强大的功能，和极致的用户体验,<br />自主投放精准推送</h5>
				</div>
				<div class="barRow-main">
					<ul class="list-w center">
						<li>
							<div class="barRow-box">
								<h2 class="icon"><i class="icon-liberty"></i></h2>
								<h4 class="title">自主直投</h4>
								<p class="description">广告投放去中介化、去外包，自主出价，自主选择目标人群、目标区域定向投放</p>
							</div>
						</li>
						<li>
							<div class="barRow-box">
								<h2 class="icon"><i class="icon-accurate"></i></h2>
								<h4 class="title">定向精准</h4>
								<p class="description">通过LBS和大数据算法，限定人群和区域，快速找到并聚焦目标客户，需求分析，实现传单广告的精准送达</p>
							</div>
						</li>
						<li>
							<div class="barRow-box">
								<h2 class="icon"><i class="icon-push"></i></h2>
								<h4 class="title">多对多爆发式PUSH</h4>
								<p class="description">利用媒超风专利P2P信息PUSH技术，实现广告信息的爆发式扩散和精准收阅</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- barRow end -->
	</div>
	<!-- main end -->
		
	<!-- footer begin -->
	<div th:include="common/footer"></div>
	<!-- footer end -->
	<script type="text/javascript" src="js/require.js" data-main="js/main.js"></script>
</div>
</body>
</html>