<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="description" content="成都媒超风信息技术有限公司，简称媒超风新媒。于2015年5月成立，公司创业团队汇聚了原传媒集团、4A公司、阿里巴巴、华为、百度、等公司的一群业界精英人才，通过利用大数据、lbs技术、3ppush技术为广告主们提供自媒体传播的全套解决方案!" />
	<meta name="Keywords" content="媒超风,派手,自媒体,推广,广告,广告赚钱" />
	<title>派手，为小而美发声-合伙人(51bppd.COM)</title>
	<link rel="Shortcut Icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/layout.css?v='+${application.version}}" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/ui-dialog.custom.css?v='+${application.version}}"/>
</head>
<body>
<div id="wrap">
	<!-- header begin -->
	<div id="header" th:include="common/header(selected=fellows)"></div>
	<!-- header end -->
		
	<!-- main begin -->
	<div id="main">
		<div class="wrapbg fellowsbg">
			<div class="fellows-title">合伙人</div>
		    <p class="p-indent p-width">年轻的时候，不该什么都不想，也不能想太多。想得太多会毁了你，我相信这话…… 成功路上最心酸的是要耐得住寂寞、熬得住孤独，总有那么一段路是你一个人在走，一个人坚强和勇敢。也许这个过程要持续很久，但如果你挺过去了，最后的成功就属于你。</p>
		    <p class="p-width p-btn"><a id="applyPartner" href="#applydiv">合伙人申请表</a></p>
		</div>
		
		<!-- bp-describe begin -->
		<div class="bp-describe desc-padding">
			<div class="fl fellows">
				<p class="p-mb"><strong>派手APP</strong>&nbsp;---&nbsp;国内首个移动端众包模式的企业自推广神器。它创造了企业移动营销推广新的模式。</p>
				<p>本地商户使用过的推广手段形形色色，但其效果可能差强人意。举几个栗子：人肉发传单！… 80%的传单发出后就被随手扔掉；间歇低价团购！… 短期客流或许是上来了，但顾客每团一次，利润就流失一分，成本伤不起；发放实体会员卡！… 效果难以追踪，发出去的卡就如同泼出去的水。朋友圈发广告，瞬间被拉黑、被踢出，总是一个人在自嗨，发出去的广告就像泼出去的水。
	                               为了解决这个难题派手诞生了。针对小企业营销困境和市场痛点，以及各种环境因素，派手为他们提供了一个更好的推广渠道，那就是众推直投。对于商家，可以在派手商户端自主直投DM广告单；对于客户，可以在派手派手端众包派发DM广告单，从而赚取佣金。</p>
				<p class="p-mt"><strong>派手APP</strong>&nbsp;---&nbsp;移动端推广神器，移动互联网时代的推广新选择。</p>
		    </div>
		    <!--  -->
			<div class="fr applydiv" id="applydiv">
				<div class="div-title">派手提供专业企业新媒体推广服务以及开放渠道合作通道。欢迎留下您的需求以及联系方式，我们会有专人与您联系。</div>
				<div class="m-login">
					<ul class="login-form clearfix">
						<li>
						    <span class="s-2">合作类型: </span>
						    <div class="input-2 div-select">
								<input type="text" name="cooperateType" id="cooperateType" placeholder="请选择合作类型" value="" readonly="readonly" />
								<div class="select-con">
					                <h3 class="clearfix select-tit">合作类型<span class="select-close"></span></h3>
					                <a href="javascript:;" id="0" title="企业">企业</a><a href="javascript:;" id="1" title="个体">个体</a>
						        </div>
						    </div>
						</li>
						<li>
							<span class="s-2">城市: </span>
							<div class="input-2">
								<input type="hidden" name="cityId" id="cityId" value="" />
							    <input type="text" name="cityName" id="cityName" placeholder="请输入城市" value="" />
							</div>
						</li>
						<li>
							<span class="s-2">姓名: </span>
							<div class="input-2">
								<input type="text" name="name" id="name" placeholder="请输入姓名" value=""/>
						    </div>
						</li>
						<li>
							<span class="s-2">联系方式: </span>
							<div class="input-2">
								<input type="text" name="contactWay" id="contactWay" placeholder="请输入联系方式" value=""/>
						    </div>
						</li>
					    <li class="company">
						    <span class="s-2">公司规模: </span>
						    <div class="input-2 div-select">
								<input type="text" name="companyScale" id="companyScale" placeholder="请选择公司规模" value="" readonly="readonly" />
								<div class="select-con con-width0">
					                <h3 class="clearfix select-tit">公司规模<span class="select-close"></span></h3>
					                <a href="javascript:;" id="0" title="1-49人">1-49人</a>
					                <a href="javascript:;" id="1" title="50-99人">50-99人</a>
					                <a href="javascript:;" id="2" title="100-499人">100-499人</a>
					                <a href="javascript:;" id="3" title="500-999人">500-999人</a>
					                <a href="javascript:;" id="4" title="1000人以上">1000人以上</a>
						        </div>
						    </div>
						</li>
						<li class="company">
							<span class="s-2">主营业务: </span>
							<div class="input-2">
								<textarea name="mainBusiness" id="mainBusiness" placeholder="请输入主营业务" class="textarea bus-textarea"></textarea>
							</div>
						</li>
					</ul>
					<input id="partnerBtn" type="button" value="提交" class="btn btn-primary" />
				</div>
			</div>
		</div>
		<!-- bp-describe end -->
		
	</div>
	<!-- main end -->
		
	<!-- footer begin -->
	<div th:include="common/footer"></div>
	<!-- footer end -->
	<script type="text/javascript" src="js/require.js" data-main="js/fellows/main.js"></script>
</div>
</body>
</html>
