<!-- footer begin -->
<div id="footer">
	<div class="bp-footer">
	   <div class="fleft">
		   <p><a href="index.html">首页</a><span class="interval">|</span><a href="fellows.html">合伙人</a><span class="interval">|</span><a href="news.html">帮派动态</a><span class="interval">|</span><a href="about.html">联系我们</a></p>
		   <div class="contact"><a href="tel:15882143433"><i class="icon-contact"></i><label>15882143433</label></a><span>周一至周五 9:00-18:00</span><span class="interval">|</span><span>成都媒超风信息技术有限公司</span></div>
		   <p><a href="http://www.51bppd.com">www.51bppd.com</a> 2015-<span th:text="${application.copyright}"></span> &copy; All Rights Reserved<span class="interval">|</span>蜀ICP备16027231号</p>
	   </div>
	   <div class="fcode">
		   <dl><dt><img src="images/bpcode.png" /></dt><dd>扫码关注帮派公众号</dd></dl>
	   </div>
	</div>
</div>
<!-- footer end -->