<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />    
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="format-detection" content="telephone=yes"/>
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="description" content="成都媒超风信息技术有限公司，简称媒超风新媒。于2015年5月成立，公司创业团队汇聚了原传媒集团、4A公司、阿里巴巴、华为、百度、等公司的一群业界精英人才，通过利用大数据、lbs技术、3ppush技术为广告主们提供自媒体传播的全套解决方案!" />
	<meta name="Keywords" content="媒超风,派手,自媒体,推广,广告,广告赚钱" />
	<title>媒超风首页-派手，为小而美发声</title>
	<link rel="Shortcut Icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/layout.css?v='+${application.version}}" />
</head>
<body>
<div id="wrap">
	<!-- header begin -->
	<div id="header" th:include="common/header(selected=index)"></div>
	<!-- header end -->
		
	<!-- main begin -->
	<div id="main">
		<div class="wrapbg index">
		    <div class="index-title">
			    <p>派手</p>
			    <p>创新媒体，帮小而美超越，矗立风口</p>
		    </div>
		</div>
		
		<!-- index-describe begin -->
		<div class="index-describe">
		    <p class="title">产品介绍</p>
		    <p>派手APP&nbsp;---&nbsp;国内首个移动端众包模式的企业自推广神器。它创造了企业移动营销推广新的模式。 </p>
		    <p>本地商户使用过的推广手段形形色色，但其效果可能差强人意。举几个栗子：人肉发传单！… 80%的传单发出后就被随手扔掉；间歇低价团购！… 短期客流或许是上来了，但顾客每团一次，利润就流失一分，成本伤不起；发放实体会员卡！… 效果难以追踪，发出去的卡就如同泼出去的水。朋友圈发广告，瞬间被拉黑、被踢出，总是一个人在自嗨，发出去的广告就像泼出去的水。 为了解决这个难题派手诞生了。针对小企业营销困境和市场痛点，以及各种环境因素，派手为他们提供了一个更好的推广渠道，那就是众推直投。对于商家，可以在派手商户端自主直投DM广告单；对于客户，可以在派手派手端众包派发DM广告单，从而赚取佣金。</p>
		    <p>派手&nbsp;---&nbsp;移动端推广神器，移动互联网时代的推广新选择。</p>
		    <ul><li class="product0 mr">&nbsp;</li><li class="product1 mr">&nbsp;</li><li class="product2 mr">&nbsp;</li><li class="product3 mr">&nbsp;</li><li class="product4">&nbsp;</li></ul>
		</div>
		<!-- index-describe end -->
		
		<!-- company-describe begin -->
		<div class="company-describe">
		    <div class="company-content">
			    <div class="title">公司介绍</div>
			    <div class="companylogo">&nbsp;</div>
			    <p>成都媒超风信息技术有限公司，简称媒超风新媒。于2015年5月成立，公司创业团队汇聚了原传媒集团、4A公司、阿里巴巴、华为、百度、等公司的一群业界精英人才，通过利用大数据、lbs技术、3ppush技术为广告主们提供自媒体传播的全套解决方案。
				       媒超风总部位于四川成都金牛万达广场SOHO，分支机构覆盖北京、上海、广州、成都、武汉、重庆、山东、深圳、苏州等地。公司主要有媒超风新媒体平台和派手众推平台两大系列产品。截至2016年12月，派手app已服务超过1000+客户，其中200多个品牌主和700多个中小客户，是广大客户值得信赖和依靠的自媒体投放平台。服务行业覆盖汽车、商业、电商、旅游、教育、快消、医疗、金融、地产等国内外众多一线知名品牌。
				</p>
		    </div>
		</div>
		<!-- company-describe end -->
				
	</div>
	<!-- main end -->
		
	<!-- footer begin -->
	<div th:include="common/footer"></div>
	<!-- footer end -->
	<script type="text/javascript" src="js/require.js" data-main="js/main.js"></script>
</div>
</body>
</html>