<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=320,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="description" content="成都媒超风信息技术有限公司，简称媒超风新媒。于2015年5月成立，公司创业团队汇聚了原传媒集团、4A公司、阿里巴巴、华为、百度、等公司的一群业界精英人才，通过利用大数据、lbs技术、3ppush技术为广告主们提供自媒体传播的全套解决方案!" />
	<meta name="Keywords" content="媒超风,派手,自媒体,推广,广告,广告赚钱" />
	<title>派手，为小而美发声-用户端 (51bppd.COM)</title>
	<link rel="Shortcut Icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" th:href="@{'css/layout.css?v='+${application.version}}" />
</head>
<body>
<div id="wrap">
	<!-- header begin -->
    <div id="header" th:include="common/header(selected=user)"></div>
	<!-- header end -->
		
	<!-- main begin -->
	<div id="main">
		<div class="wrapbg userbg">
			<div class="app-download">
				<div class="app-code">
					<dl><dt><img src="images/usercode.jpg" /></dt><dd>派手用户端APP下载</dd></dl>
					<div class="app-btn">
					   <a href="javascript:;" class="icon-iPhone">iPhone下载</a>
					   <a href="javascript:;" class="icon-Android">Android下载</a>
					</div>
				</div>
				<div class="app-title">让更多的人成为你的推广者</div>
		    </div>
		</div>
		
		<!-- barRow begin -->
		<div id="barRow">
			<div class="wrapper">
				<div class="row-title">
					<h3>共享经济，随时随地赚收益</h3>
					<h5>高质量的需求广告，提高零碎时间阅读分享价值。</h5>
				</div>
				<div class="barRow-main">
					<ul class="list-w center">
						<li>
							<div class="barRow-box">
								<h2 class="icon"><i class="icon-earn"></i></h2>
								<h4 class="title">共享经济</h4>
								<p class="description">每次分享都是有价值的，派手通过有价值的传播赚翻天</p>
							</div>
						</li>
						<li>
							<div class="barRow-box">
								<h2 class="icon"><i class="icon-bonus"></i></h2>
								<h4 class="title">阅读奖励</h4>
								<p class="description">每次阅读都是有价值的，派手通过查收商情奖金领不停</p>
							</div>
						</li>
						<li>
							<div class="barRow-box">
								<h2 class="icon"><i class="icon-value"></i></h2>
								<h4 class="title">精准需求</h4>
								<p class="description">每个需求都会及时满足，每个优惠都能收入囊中</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- barRow end -->		
	</div>
	<!-- main end -->
		
	<!-- footer begin -->
	<div th:include="common/footer"></div>
	<!-- footer end -->
	<script type="text/javascript" src="js/require.js" data-main="js/main.js"></script>
</div>
</body>
</html>