<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcf.base.mapper.NewsContentMapper" >
  <resultMap id="BaseResultMap" type="com.mcf.base.pojo.NewsContent" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="TINYINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="digest" property="digest" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="browse_num" property="browseNum" jdbcType="INTEGER" />
    <result column="is_stick" property="isStick" jdbcType="TINYINT" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, is_show, title, source, author, digest, content, browse_num, is_stick, creator, create_time, 
    update_time
  </sql>
  
  <!--  -->
  <select id="get" resultMap="BaseResultMap" parameterType="com.mcf.base.pojo.NewsContent" >
    select 
    <include refid="Base_Column_List" />
    from t_news_content
    where id = #{id,jdbcType=VARCHAR} limit 1
  </select>
  
  <!--  -->
  <select id="getById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_news_content where id = #{0} limit 1
  </select>
  
  <!-- 获取所有帮派动态信息列表 -->
  <select id="getNewsList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from t_news_content news_content 
    <where>
	    <if test="keywords != null">
	      news_content.title like concat('%',#{keywords,jdbcType=VARCHAR},'%') 
	    </if>
    </where>
    order by update_time desc 
  </select>
  
  <!-- 获取所有帮派动态显示列表 -->
  <select id="getNewsListByShow" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_news_content news_content where news_content.is_show = 1 order by is_stick desc,create_time desc
  </select>
  
  <!-- 获取最新帮派动态信息列表 -->
  <select id="getNewests" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_news_content news_content where 
    news_content.is_show = 1 order by is_stick desc,create_time desc limit 0,5 
  </select>
  
  <!-- 获取帮派动态总记录 -->
  <select id="getCountNews" resultType="java.lang.Integer">
    select count(*) from t_news_content 
  </select>
  
  <delete id="delete" parameterType="com.mcf.base.pojo.NewsContent" >
    delete from t_news_content
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="batchDelete" parameterType="java.lang.String">
	delete from t_news_content where id in 
	<foreach collection="array" item="id" open="(" separator="," close=")">
	  #{id}
	</foreach>
  </delete>
  
  <insert id="add" parameterType="com.mcf.base.pojo.NewsContent" >
    insert into t_news_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="digest != null" >
        digest,
      </if>
      <if test="browseNum != null" >
        browse_num,
      </if>
      <if test="isStick != null" >
        is_stick,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=TINYINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="browseNum != null" >
        #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="isStick != null" >
        #{isStick,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.mcf.base.pojo.NewsContent" >
    update t_news_content
    <set >
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=TINYINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        digest = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="browseNum != null" >
        browse_num = #{browseNum,jdbcType=INTEGER},
      </if>
      <if test="isStick != null" >
        is_stick = #{isStick,jdbcType=TINYINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>